@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body, * {
    font-family: "Inter";
}

/* Home style code  */
.discover-more> a{
    color: #000;
}
.discover-more> a:hover{
    color: white;
    background-color: #000;
}
.donation{
    background-image: url('../img/don.jpeg');

}
.donation p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: white;
}
